<ion-header>
  <ion-navbar>
    <ion-title>
      SEUS CICLOS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  
  <div *ngIf="!hasCycle">
    <ion-card color="light">
      <ion-card-content>
        <p style="text-align:center">Você ainda não possui nenhum ciclo</p>
      </ion-card-content>
    </ion-card>
  
    <button id="create-cycle" ion-button full color="danger" (click)="newSleepCycle()" >Criar novo Ciclo</button>
  </div>

  <canvas id="clock" #clock width="70" height="70" [hidden]="!hasCycle"></canvas>

  
  
  <!-- CONTEUDOS -->
  <div *ngIf="hasCycle">

    <!-- CICLOS -->
    <ion-card color="cards" *ngFor="let cycle of cycles; let i = index">
      <!-- CICLO -->
      <ion-card-header>Ciclo {{i + 1}}</ion-card-header>
      
      <!-- HORARIOS -->
      <ion-card-content>
        <p class="hora-inicio"><b>Deitar:</b> {{cycle.startHour}}:{{cycle.startMinute}}</p>
        <p class="hora-fim"><b>Acordar:</b> {{cycle.finishHour}}:{{cycle.finishMinute}}</p>
      </ion-card-content>

      <!-- OPÇÕES -->
      <ion-row style="clear:both">
        <ion-col>
          <button ion-button icon-start clear small><ion-icon name="alarm"></ion-icon>Alarme</button>
        </ion-col>
        <ion-col>
            <button ion-button icon-start clear small><ion-icon name="trash"></ion-icon>Remover</button>
          </ion-col>
      </ion-row>
    </ion-card>

  
  </div>

  <ion-fab bottom right *ngIf="hasCycle">
      <button ion-fab mini color="danger"><ion-icon name="options"></ion-icon></button>
      <ion-fab-list side="top">
         <button ion-fab><ion-icon name="add"></ion-icon></button>
        <button ion-fab (click)="deleteAll()"><ion-icon name="trash"></ion-icon></button>
      </ion-fab-list>
  </ion-fab>

</ion-content>
