page-home {

    #clock {
        background-color:rgba($color: #FFF, $alpha: 0.4);
        border-radius: 100%;
        background-image: url('../assets/imgs/clock.png');
        background-size: 100%;
    }

    #create-cycle {
        background: linear-gradient(to bottom right,  #fb5f2c, #ff8600);
    }

    #seconds {
        position: absolute;
        height: 100px;
        width: 10px;
        left: 0; right: 0; bottom: 200px; top: 0px;
        margin: auto;
        background: #FF4136;
     }

    .hora-inicio {
        float:left;
        font-size: 16px;
    }

    .hora-fim {
        float:right;
        font-size: 16px;
    }
}
