<ion-header>

  <ion-navbar>
    <ion-title>{{ 'title_add_cycle' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <p class="info"> {{ 'create_your_custom_cycle' | translate }}</p>
  <ion-item>
    <ion-label>{{ 'to_bed' | translate }}</ion-label>
    
    <ion-select [(ngModel)]="sHour">
      <ion-option *ngFor="let h of hours; let i = index " value="{{h}}" [selected]="i == 0">{{h}}</ion-option>
    </ion-select> 
    <ion-select [(ngModel)]="sMinute">
        <ion-option value="00" selected>00</ion-option>
        <ion-option value="10">10</ion-option>
        <ion-option value="20">20</ion-option>
        <ion-option value="30">30</ion-option>
        <ion-option value="40">40</ion-option>
        <ion-option value="50">50</ion-option>
      </ion-select>

  </ion-item>

  <ion-item>
    <ion-label>{{ 'to_wake_up' | translate }}</ion-label>
    
    <ion-select [(ngModel)]="fHour">
      <ion-option *ngFor="let h of hours; let i = index " value="{{h}}" [selected]="i == 0">{{h}}</ion-option>
    </ion-select> 
    <ion-select [(ngModel)]="fMinute">
        <ion-option value="00" selected>00</ion-option>
        <ion-option value="10">10</ion-option>
        <ion-option value="20">20</ion-option>
        <ion-option value="30">30</ion-option>
        <ion-option value="40">40</ion-option>
        <ion-option value="50">50</ion-option>
      </ion-select>

  </ion-item>

  <button ion-button full (click)="create()">{{ 'create' | translate }}</button>
</ion-content>
